.controls {
  display: flex;
  justify-content: center;

  button {
    display: flex;
    align-items: center;
    margin-right: 0.25rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.icon {
  margin-right: 0.5rem;
}
